body {
    background-image: 
    linear-gradient(to top, rgb(128, 88, 69) , rgb(252, 252, 240));}


.card {
    background-color: #fdfdff;
    max-width: 400px;
    margin-top: 12rem;
    margin-bottom: 12rem;
    margin-left: 30rem;
    text-align: center;
    font-family: arial;
    border-radius: 2rem;
  }
  
  .price {
    color: #522121;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;;
    margin-right: 15rem;
  }
  
  .card button {
    border: none;
    padding: 12px;
    color: white;
    background-color: #391818;
    text-align: center;
    cursor: pointer;
    width: 70%;
    font-size: 18px;
    border-radius: 2rem;
    margin-bottom: 2rem;
  }
  .drinks {
    color:rgb(125, 87, 87);
    font-weight: lighter;
    position: inherit;
    font-size: 1rem;
    margin-right: 18rem;
  }
.img {
    object-fit:cover;
    width: 100%;
    height:15rem;
    border-radius:2rem;
 }
  .txt {
    margin: 1px 2px 0 3px;
    font-size: 0.9rem;
    color:#391818;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .h1 {
    color:#4f2f2f;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
